pkgbase = libcec
	pkgdesc = Pulse-Eight's libcec for the Pulse-Eight USB-CEC adapter
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/Pulse-Eight/libcec
	arch = i686
	arch = x86_64
	license = GPL
	depends = udev
	depends = lockdev
	options = !libtool
	source = libcec-2.1.0.tar.gz::https://github.com/Pulse-Eight/libcec/tarball/libcec-2.1.0
	sha256sums = b0589450a25566d34b84aff6bc899fd823dba8ffebcfe11a3f58924c252367fe

pkgname = libcec

