pkgbase = libcec
	pkgdesc = Pulse-Eight's libcec for the Pulse-Eight USB-CEC adapter
	pkgver = 2.1.3
	pkgrel = 4
	url = http://libcec.pulse-eight.com/
	arch = i686
	arch = x86_64
	license = GPL
	depends = udev
	depends = lockdev
	source = libcec-2.1.3.tar.gz::https://github.com/Pulse-Eight/libcec/archive/libcec-2.1.3.tar.gz
	sha256sums = 7afc162899c1b67000713e7719c6f89cd33f27f03a03c5bd5f281f8e6782989e

pkgname = libcec

